@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans&display=swap');

:root{
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6B7280;
  --light: #EEE;
  --pink: #EC4899;
  --purple: #8B5CF6;
  --finishtask: rgb(53 131 68 / 30%);
  --unfinishtask: rgb(131 72 77 / 30%);
  --unfinishicon: #00ff31a8;
  --finishicon: #c20000c2;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

:focus{
  outline: none;
}

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0.9;
}

#root{
  background-color: var(--darkest);
  /* background-image: linear-gradient(to right, var(--pink), var(--purple));; */
  /* background-image: linear-gradient(to right, #2c3e50, #3498db);; */
  /* background-image: linear-gradient(to right, #232526, #414345);; */
}